<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="my" targetRuntime="MyBatis3">
        <!--        <commentGenerator>-->
        <!--            <property name="suppressDate" value="false"/>-->
        <!--            <property name="suppressAllComments" value="true"/>-->
        <!--        </commentGenerator>-->

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
            connectionURL="jdbc:mysql://127.0.0.1:3306/elearning_user?useUnicode=true&amp;allowPublicKeyRetrieval=true&amp;characterEncoding = utf-8&amp;useSSL = false&amp;serverTimezone=GMT"
            userId="test" password="qq123456">
            <property name="nullCatalogMeansCurrent" value="true" />
        </jdbcConnection>

        <javaModelGenerator targetPackage="org.darod.elearning.gateway.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="org.darod.elearning.gateway.dao" targetProject="src/main/java"
            type="XMLMAPPER">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

<!--        <table tableName="user" domainObjectName="UserDO" enableCountByExample="false" enableUpdateByExample="false"-->
<!--            enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
<!--            <columnOverride column="gender" javaType="java.lang.Byte" />-->
<!--            <columnOverride column="user_state" javaType="java.lang.Byte" />-->
<!--        </table>-->
<!--        <table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="user_status" javaType="java.lang.Byte" />-->
<!--        </table>-->
<!--        <table tableName="chapter_info" domainObjectName="ChapterDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="chapter_no" javaType="java.lang.Byte" />-->
<!--            <columnOverride column="chapter_state" javaType="java.lang.Byte" />-->
<!--        </table>-->
<!--        <table tableName="comment" domainObjectName="CommentDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="comment_state" javaType="java.lang.Integer" />-->
<!--        </table>-->
<!--        <table tableName="course_info" domainObjectName="CourseDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="course_state" javaType="java.lang.Byte" />-->
<!--        </table>-->
<!--        <table tableName="live_room" domainObjectName="LiveRoomDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false" />-->
<!--        <table tableName="message" domainObjectName="MessageDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="message_type" javaType="java.lang.Integer" />-->
<!--            <columnOverride column="message_state" javaType="java.lang.Integer" />-->
<!--        </table>-->
<!--        <table tableName="teacher" domainObjectName="TeacherDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="teacher_state" javaType="java.lang.Byte" />-->
<!--        </table>-->
<!--        <table tableName="user_learn" domainObjectName="UserLearnDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="last_chapter" javaType="java.lang.Byte" />-->
<!--        </table>-->
<!--        <table tableName="order_info" domainObjectName="OrderDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--&lt;!&ndash;            <columnOverride column="order_state" javaType="java.lang.Byte" />&ndash;&gt;-->
<!--        </table>-->
<!--        <table tableName="sequence_info" domainObjectName="SequenceDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--            <columnOverride column="order_state" javaType="java.lang.Byte" />-->
<!--        </table>-->
<!--        <table tableName="forbid" domainObjectName="ForbidDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--        </table>-->
<!--        <table tableName="role_privilege" domainObjectName="RolePrivilegeDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--        </table>-->
<!--        <table tableName="user_role" domainObjectName="UserRoleDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--        </table>   -->
<!--        <table tableName="live_room" domainObjectName="LiveRoomDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--        </table>-->
<!--        <table tableName="live_record" domainObjectName="LiveRecordDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false">-->
<!--        </table>-->
    </context>
</generatorConfiguration>