<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="my" targetRuntime="MyBatis3">
        <!--        <commentGenerator>-->
        <!--            <property name="suppressDate" value="false"/>-->
        <!--            <property name="suppressAllComments" value="true"/>-->
        <!--        </commentGenerator>-->

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
            connectionURL="jdbc:mysql://127.0.0.1:3306/elearning_user?useUnicode = true&amp;allowPublicKeyRetrieval=true&amp;characterEncoding = utf-8&amp;useSSL = false&amp;serverTimezone=GMT"
            userId="test" password="qq123456" />

        <javaModelGenerator targetPackage="org.darod.elearning.common.dao.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="org.darod.elearning.common.dao" targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="T_FEE_AGTBILL" domainObjectName="FeeAgentBill"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>-->
        <table tableName="user_info" domainObjectName="UserDO" enableCountByExample="false"
            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
            selectByExampleQueryId="false" >
            <columnOverride column="gender" javaType="java.lang.Byte"/>
            <columnOverride column="user_state" javaType="java.lang.Byte"/>
        </table>
        <table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"
            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
            selectByExampleQueryId="false" >
            <columnOverride column="user_status" javaType="java.lang.Byte"/>
        </table>
<!--        <table tableName="item" domainObjectName="ItemDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false" />-->
<!--        <table tableName="item_stock" domainObjectName="ItemStockDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false" />-->
<!--        <table tableName="order_info" domainObjectName="OrderDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false" />-->
<!--        <table tableName="sequence_info" domainObjectName="SequenceDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false" />-->
<!--        <table tableName="promo" domainObjectName="PromoDO" enableCountByExample="false"-->
<!--            enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--            selectByExampleQueryId="false" />-->



    </context>
</generatorConfiguration>