
.navbar-nav li:hover a {
    color: #2270ef !important;
}

#head_div img {
    border-radius: 50%;
    vertical-align: middle;
    /*border: 2px solid;*/
}

#alarm_ico {
    color: #b9bbbe;
}

/*#alarm_ico :hover {*/
/*    color: #2270ef;*/
/*}*/

#user_flex {
    display: none;
    margin-top: 0.3rem;
    position: absolute;
    z-index: 9999;
    width: 20rem;
    height: auto;
    box-shadow: 0 5px 10px 0 #6c757d;
}

#user_flex img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

/*用户悬浮窗按钮*/
.user_flex_btn {
    width: 8rem;
    height: 2rem;
    background-color: #eceef0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.user_flex_btn:hover {
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

@media screen and (max-device-width: 960px) {
    #user_flex {
        left: 50%;
        transform: translateX(-50%);
    }
}