
#back_img_div {
    background-image: url("../resources/background.jpg");
    width: auto;
    height: 13rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#user_short_info_div {
    margin: 0 auto;
    width: 95rem;
}

#user_big_head_img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 3px solid white;
}

#user_short_info_div * {
    color: white;
}

#user_short_info p span {
    margin-right: 1rem;
}

#main_div {
    width: 95rem;
    margin: 0 auto;
    background-color: white;
}

.user_slider_btn {
    width: 8rem;
    height: 4rem;
    background-color: #eceef0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 2rem;

}

.user_slider_btn:hover {
    text-decoration: none;
    color: black;
}


#teacher_apply_btn {
    width: 8rem;
    height: 4rem;
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

#teacher_apply_btn :hover {
    text-decoration: none;
    color: white;
}

#tabs_div {
    height: auto;
    margin-left: 11rem;
}

.tabs_content {
    width: 100%;
    display: none;
    height: auto;
    min-height: 51.5rem;
    /*min-height: 30rem;*/
}

#tabs_div .active {
    display: block;
}

.my_box {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    min-height: 42rem;
}

.courses_info_item, .order_info_item, .courses_published_item, .courses_history_item {
    width: 100%;
    height: 10rem;
    flex-wrap: wrap;
    align-items: center;
    /*border-bottom: #6c757d;*/
}

.course_img {
    width: 13rem;
    height: 7rem;
    border-radius: 5px;
}

.course_name_label {
    font-size: 1.5rem;
}

.course_status {
    color: #b9bbbe;
}

.learn_percent {
    color: red;
}

.reserved_div {
    border-radius: 4px;
}

.my_label {
    font-size: 1rem;
    height: 2.4rem;
    text-align: center;
    line-height: 2.4rem;
    padding: 0;
}

.my_label_sm {
    width: 20%;
    height: auto;
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
}

#course_info_edit_div input, #course_info_edit_div select {
    height: 3rem;
}

#head_img_preview {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 5px solid #b9bbbe;
}

#user_info_box > div > input {
    width: 12rem;
    margin-top: 2rem;
}

#user_info_box > div > span {
    width: 7rem;
    margin-top: 2rem;
}

#user_info_edit_div span, #teacher_info_edit_div span, #teacher_info_apply_div span, #user_info_edit_div button {
    width: 6rem;
    margin-top: 2rem;
}

#user_info_edit_div input, #teacher_info_edit_div input, #teacher_info_apply_div input {
    width: 10rem;
    margin-top: 2rem;
}

#preview_head_img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 5px solid #b9bbbe;
}

#upload_head_btn {
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.course_label {
    background-color: white;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    margin-right: 15px;
    padding: 3px;
}

.label_first {
    border-color: dodgerblue;
    color: dodgerblue;
}

.label_second {
    border-color: limegreen;
    color: limegreen;
}

.label_third {
    border-color: red;
    color: red;
}

/*.course_state_open {*/
/*    color: limegreen;*/
/*}*/

.course_price {
    color: red;
}

#main_div section {
    width: 95rem;
    margin: 0 auto;
}

#course_info_edit_div > input, #course_info_edit_div > select, #chapter_info_add_div > input {
    width: 70%;
    margin: 0.5rem;
}

#course_info_edit_div > textarea, #chapter_info_add_div > textarea {
    margin: 0.5rem;
}

.course_info_desc, .published_info_desc, .order_info_desc {
    width: 40rem;
}

#user_slider_div {
    position: absolute;
}

#search_bar {
    margin-left: 35rem;
}


@media screen and (max-device-width: 960px) {
    .course_img {
        width: 6.5rem;
        height: 3.5rem;
    }

    #search_bar {
        margin-left: 0;
    }

    #user_slider_div ul {
        margin-left: 5px !important;
    }

    #tabs_div {
        margin-left: 4rem;
    }

    #main_div {
        width: auto;
        margin: 0 auto;
    }

    #main_div section {
        margin: 0 0;
        width: 100% !important;
    }

    .course_info_desc, .order_info_desc, .published_info_desc {
        width: auto;
        padding: 0 !important;
    }

    #back_img_div {
        min-width: 0 !important;
    }

    .user_slider_btn {
        width: 4rem;
        height: 3rem;
        font-size: 1rem;
    }

    #teacher_apply_btn {
        width: 4rem;
        height: 3rem;
        font-size: 1rem;
    }

    .modal-dialog {
        min-width: 0 !important;
    }

    .modal-body {
        padding: 0;
    }

    .my_label_sm, .my_label {
        margin: 1% !important;
        font-size: 14px;
        height: 3rem;
        line-height: 3rem;
        padding: 0;
        width: 23% !important;
        /*padding: 14px 0 14px 0;*/
    }

    #user_info_edit_div input, #user_info_edit_div select, #teacher_info_edit_div input, #teacher_info_apply_div input, #course_info_edit_div input, #course_info_edit_div select {
        width: 70% !important;
        height: 3rem;
        margin: 1% !important;
    }

    .pagination li a {
        font-size: 1rem !important;
    }

    .reserved_div span {
        font-size: 1rem !important;
    }

    .reserved_div > div {
        margin-right: 1rem !important;
    }

    .course_img {
        width: 100% !important;
        height: 8rem !important;
    }

    .item {
        height: fit-content;
    }

    .courses_info_item > div:first-of-type {
        padding: 0 !important;
    }

    .courses_info_item > div:first-of-type > p:first-of-type {
        margin-bottom: 0;
    }

    .courses_info_item > div:first-of-type > p:nth-child(2) {
        display: none;
    }

    .start_time_label {
        margin-bottom: 0;
    }

    .button-div {
        width: 100% !important;
    }

    .my_box {
        min-height: 0;
    }

    #user_info_detail {
        width: 100% !important;
    }

    #head_img_preview {
        width: 5rem;
        height: 5rem;
    }

    #head_modify_div {
        width: 100%;
        display: flex;
        align-items: center;
    }

    #user_info_box {
        padding: 0 !important;
    }

    #user_info_detail {
        padding: 0.5rem;
    }

    #user_info_detail input, #user_info_detail span {
        margin-top: 1rem !important;
        height: 3rem;
    }
    #user_info_detail input {
        width: 70% !important;
    }


    #user_introduction_label {
        margin: 0 !important;
    }

    .course_learn_info {
        display: none !important;
    }

    #preview_head_img {
        width: 10rem;
        height: 10rem;
    }

    .published_info_desc > p {
        text-align: center;
    }
    #edit_user_password_modal input,#bind_phone_modal input{
        margin: 1% !important;
        font-size: 14px;
        height: 3rem;
        padding: 0;
    }
    #bind_phone_modal p button{
        height: 3rem;
        width: 80% !important;
    }
    #user_big_head_img{
        width: 7rem;
        height: 7rem;
    }
    #user_short_info_div > div:first-of-type{
        margin-left: 0 !important;
    }
    /*.sm-hide {*/
    /*    display: none !important;*/
    /*}*/

}